%p
  You was invited to project
  %b= invite.project.name
  = invite.project.description
  Created by= invite.admin.name
  = link_to 'Accept invite', [invite.project, invite], data: { method: :put }
  = link_to 'Ignore invite', [invite.project, invite], data: { confirm: 'Are you sure?', method: :delete }