%p
  Hello! You have been invited to web site
  = root_url
%p
  If you don't want to accept the invitation, please ignore this invite.

= link_to 'Accept invitation',  user_omniauth_authorize_url(:facebook), target: '_top'

