= simple_form_for(@comment, url: [@project, :comments], remote: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text, :placeholder => t('simple_form.placeholders.defaults.comment')

  .form-actions
    = f.button :submit, t('simple_form.add_comment')