= simple_form_for(@comment, url: [@project, :comments]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text, :placeholder => :comment

  .form-actions
    = f.button :submit, t('simple_form.add_comment')