= simple_form_for(@comment, url: [@project, :comments], remote: true) do |f|
  .form-errors
  .form-inputs
    = f.input :text, :placeholder => t('simple_form.placeholders.defaults.comment')

  .form-actions
    = f.button :submit, t('simple_form.add_comment')