%p
  = t('general.mailers.congratulations')
  %br
  = t('general.mailers.project_closed', name: @project.name)
  %br
  = t('general.mailers.amount_total', amount: @project.donated_amount, name: @project.admin.name)
