%h3 Donators
We have
=currency(@project.donated_amount)

%table.table-bordered
  %thead
    %tr
      %th Name
      %th Amount

  %tbody
    - @project.fees.purchased.each do |fee|
      %tr
        %td= fee.user.name
        %td= currency(fee.amount) if fee.visible?
%br