%h3 Donators
We have
=number_to_currency(@project.donated_amount)

%table.table-bordered
  %thead
    %tr
      %th Name
      %th Amount

  %tbody
    - @project.fees.paid.each do |fee|
      %tr
        %td= fee.user.name
        %td= number_to_currency(fee.amount) if fee.visible?
%br