<p>
  <%= @user.name %>,
</p>

<p>
  <%= t('general.mailers.donated', amount: currency(@fee.amount), project:  @fee.project.name) %>
  <%- if @fee.visible? %>
    <%= t('general.mailers.from', name: @fee.user.name ) %>
  <% end %>
  <br /><br />

  <%= link_to t('general.mailers.view_project'), project_url(@fee.project),
    :style => "color:#36a14b; font-weight:bold;" %>
</p>
