%ul.items.unstyled
  - @items.each do |item|
    %li{id: item.asin}
      = image_tag amazon_image_url(item)
      %h4= link_to item.title, item.raw.DetailPageUrl, target: '_blank'
      %span.badge.badge-inverse= amazon_price(item)
      %span.badge.badge-info= item.raw.ItemAttributes.ProductGroup
