/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require card
 *= require comments
 *= require invitations
 *= require projects
 *= require fees
 *= require scaffolds
 *= require jquery.ui.all
 *= require jquery.loadmask
*/

@import 'bootstrap';

body {
  padding-top: 60px;
}

.clear-right {
  clear: right;
}

.btn a:hover {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

table.with_spaces {
  width: 900px;
  th, td {
    width: 150px;
    text-align: center;
    border-bottom: 1px solid #DDD;
  }
}



