@mixin border {
  border: 1px solid #666;
}

.gift {
  width: 20%;
  float: left;
  margin-left: 20px;
  padding-bottom: 10px;
  @include border;

  .image {
    margin: 10px;
    @include border;
  }

  div {
    text-align: center;
  }
}

.description {
  span {
    float: left;

    button {
      margin-left: 10px;
    }
  }
}

form .image {
  text-align: right;
  width: 40%;
}
