// Place all the styles related to the Card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gift, .image {
  border: 1px solid #666;
}

.gift {
  width: 20%;
  float: left;
  margin-left: 20px;
  padding-bottom: 10px;

  .image {
    margin: 10px;
  }

  div {
    text-align: center;
  }
}

.description {
  span {
    float:left;

    button {
      margin-left: 10px;
    }
  }
}
