@mixin border {
  border: 1px solid #666;
}

.gift {
  width: 20%;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  @include border;

  .image {
    @include border;
    margin: 10px auto 0;

    width: 120px;
    height: 120px;

    img {
      width: 120px;
      height: 120px;
    }
  }

  div {
    text-align: center;
  }

  .vote {
    text-align: right;
    margin-right: 10px;
    a {
      color: white;
    }
  }
}

.description {
  span {
    float: left;

    button {
      margin-left: 10px;
    }
  }
}

form .image {
  text-align: right;
  width: 40%;
}

#search_modal {
  width: 80%;
  margin-top: -45%;
  .items {
    li {
      overflow:hidden;
      margin-bottom: 5px;
      img {
        float: left; 
        margin-right: 10px;
        height: 160px;
      }
    }
  }
}
