// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  width: 650px;

  span {

	  &.text {
	    width: 450px;
	  }

	  &.user {
	    font-weight: bold;
	    width: 150px;
	  }

	  &.date{
	    width: 50px;
	    font-style: italic;
	  }

  }
}