// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
  width: 50%;
}

#fb-invite-link {
  background: url("/assets/icons/facebook.jpg") no-repeat;
  width: 80px;
  height: 30px;
}

.remove_participant {
  position: relative;
  top: -3px;
}