<p>  <%= t('devise.mailer.hello', name: @resource.name || @resource.email) %></p>

<p><%= t('devise.mailer.invitation_instructions.text', url: root_url) %></p>

<p><%= link_to t('devise.mailer.invitation_instructions.link'), accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p><%= t('devise.mailer.invitation_instructions.footer') %></p>
