<p><%= t('devise.mailer.hello', name: @resource.name) %></p>

<p><%= t('devise.mailer.reset_instructions.text') %></p>

<p><%= link_to t('devise.mailer.reset_instructions.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.reset_instructions.footer') %></p>
